#white{
  height: 250px;
  width: 100px;
  float: left;
  }
#black{
  height: 250px;
  width: 100px;
  float: left;
}
#green{
  height: 250px;
  width: 100px;
  float: left;
}
#blue{
  height: 250px;
  width: 100px;
  float: left;
}
#red{
  height: 250px;
  width: 100px;
  float: left;
}